<div class="banner">
</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="card bg-light border-0">
        <div class="card-body d-flex flex-column">
          <div class="card-content px-2 pt-2">
            <h4 class="card-title fs-1"><%= @flat.name%></h4>
            <p class="card-tex fs-5 fw-light"><%= @flat.address%></p>
          </div>
        </div>
      </div>
      <div class="card bg-light mt-3 mb-4 border-0">
        <div class="card-body d-flex flex-column">
          <div class="card-content pt-2">
            <h4 class="card-title fs-3">A bit more about this flat...</h4>
            <p class="card-tex"><%= @flat.description%></p>
            <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/8.5417,47.3769,15/600x250?access_token=pk.eyJ1IjoieHhuYW5kb3N4eCIsImEiOiJjbGtzMHI3amEwMHRxM2VtbWNxbmNueWhwIn0._j3iz2SK3j4EryAWBvse8w", class: "img-fluid w-100" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light border-0 p-1">
        <div class="card-body d-flex flex-column">
          <h4 class="fs-5">Book this place!</h4>
          <form>
            <div class="input-group mb-2">
              <span class="input-group-text">Start Date</span>
              <input type="date" class="form-control" id="start-date" name="start-date">
            </div>
            <div class="input-group mb-2">
              <span class="input-group-text">End Date</span>
              <input type="date" class="form-control" id="end-date" name="end-date">
            </div>
            <button type="submit" class="btn btn-success w-100 text-center">Book</button>
          </form>
        </div>
      </div>
      <div class="card bg-light border-0 mt-3 p-1">
        <div class="card-body d-flex flex-column">
          <h4 class="fs-3">Details</h4>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-user-group me-1"></i>
            <span class="me-4"><%= @flat.number_of_guests %></span>
            <i class="fa-solid fa-euro-sign me-1"></i>
            <span><%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
      <div class="card bg-light border-0 mt-3">
        <div class="card-body d-flex align-items-center justify-content-between px-4">
          <h4 class="fs-6">Share</h4>
          <div>
            <i class="fab fa-facebook-square me-1"></i>
            <i class="fab fa-twitter-square me-1"></i>
            <i class="fab fa-pinterest-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
